
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 100px #03bcf4,
               0 0 200px #03bcf4,
               0 0 40px #03bcf4,
               0 0 80px #03bcf4,
               0 0 160px #03bcf4;
               
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400px;
  font-style: normal;
}

.nav-link:hover {
  color: #fff;
  text-shadow: 0 0 10px #03bcf4,
               0 0 20px #03bcf4,
               0 0 40px #03bcf4,
               0 0 80px #03bcf4,
               0 0 160px #03bcf4;
}

#earth-container {
  width: 100%;
  height: 100vh; /* Adjust height to fit remaining screen */
  overflow: hidden;
  position: relative;
  top: -100px;
  left: 0;
}
.text-wrapper{
  font-size: 6rem;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-top: -10px;
  line-height: 0;
  position: relative;
  top: -400px; /* Adjust this value as needed */
  left: 600px;
  opacity: 100%;
  color: #fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;

  &:nth-of-type(5){
    color: yellow;
  }
  
}

@keyframes animate2 {
  100%
  {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;
  }  
}


.p1{
  margin-bottom: -30px;
}

.p2{
  margin-bottom: -0px;
}

.p3{
  margin-bottom: -0px;
}

.p4{
  margin-bottom: 0px;
}

.hi{
  position: relative;
  font-size: 7rem;
  letter-spacing: 15px;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  line-height: 0.70em;
  outline: none;
  color: #fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;

  top: -265px;
  right: 300px;
}

.im{
  position: relative;
  font-size: 7rem;
  letter-spacing: 15px;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  line-height: 0.70em;
  outline: none;
  animation: animate 5s linear infinite;
  top: -350px;
  right: 100px;
}

@keyframes animate {
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
  {
    color: #0e3742;
    text-shadow: none;
  } 
  18.1%,20.1%,50%,60.1%,65%,80.1%,90%,92.1%,100%
  {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;
  }  
}

#star-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgb(0, 0, 0);
}

:root{
  --bg-color: #080808;
  --second-bg-color: #000000;
  --text-color: white;
  --main-color: #00ffee;
}
.heading{
  font-size: 8rem;
  text-align: center;
}
.education{
  background: var(--second-bg-color);
}
.education h2{
  margin-bottom: 5rem;
  animation: animate 5s linear infinite;
}
.timeline-items{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before{
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  left: calc(51% - 1%);
}
.timeline-item{
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child{
  margin-bottom: 0;
}
.timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);
}
.timeline-dot{
  height: 21px;
  width: 21px;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}
.timeline-date{
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  margin: 6px 0 15px;
}
.timeline-content{
  background-color: var(--bg-color);
  border: 3px solid var(--main-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.timeline-content:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}
.timeline-content h3{
  font-size: 20px;
  color: white;
  margin: 0 0 10px;
  font-weight: 500;
}
.timeline-content h7{
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}
::-webkit-scrollbar-track{
  background-color: var(--bg-color);
  width: 50px;
}